<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdm.mediacard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.sdm.mediacard.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UpdatedBaseArchitecture"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.sdm.mediacard.presentation.loginsignupflow.LoginSignupFlowActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.SceneViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sdm.mediacard.presentation.MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sdm.mediacard.presentation.flipit_anim_example.FlipItActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sdm.mediacard.presentation.metamask.MetaWalletConnectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>